<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <h1>All Cult Classics!</h1>
    </HEAD>
    <BODY>
        {% for row in rows %}
            <div>
                <h2> {{ row.name }} </h2>
                <p> Release Date: {{row.release_date}} </p>
                <img src="{{row.image}}"></img>
                <h3> User Score: {{row.user_score/10}} </h3>
                <h4> Metascore: {{row.metascore}} </h4>
                <p> {{row.summary}} </p>
                <a href="{{row.url}}">See on metacritic</a>
            </div>
        {% endfor %}
            
        </script>
    </BODY>
</HTML>